.title {
  margin: 0;
  padding: 0;
  font-size: 22px;
  color: #6798e7;
  text-align: center;
}

.form {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;

  padding: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 20px;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
}

.input {
  display: block;
  margin-bottom: 10px;
  padding: 8px 16px;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

input:required:invalid {
  border: 1px solid red;
}

.textarea {
  display: block;
  margin-bottom: 10px;
  padding: 8px 16px;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

textarea:required:invalid {
  border: 1px solid red;
}

.btn {
  padding: 8px 16px;
  width: 50vw;
  height: 60px;
  border-radius: 3px;
  background-color: #3884ff;
  transition: all 200ms ease;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  color: #fff;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn:hover,
.btn:focus {
  background-color: #6798e7;
}

@media screen and (min-width: 320px) and (max-width: 694px) {
}

@media screen and (min-width: 695px) and (max-width: 1199px) {
  .title {
    font-size: 26px;
  }

  .form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .label {
    font-size: 20px;
    line-height: 24px;
  }

  .input {
    width: 25vw;
  }

  .textarea {
    width: 40vw;
  }

  .btn {
    width: 15vw;
    line-height: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 30px;
  }

  .form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .label {
    font-size: 22px;
    line-height: 24px;
  }

  .input {
    width: 25vw;
  }

  .textarea {
    width: 40vw;
  }

  .btn {
    width: 15vw;
    font-size: 20px;
    line-height: 24px;
  }
}
